<div class="div">
  <div>
    <h1 class="text-light">Want more info?</h1>
    <p class="mt-5 text text-light">
      If you want to know more about our course offerings, payment options, or
      other things, send us a message!
    </p>
    <a href="https://codefactory.wien/de/contact-en/" class="btn"
      >SEND REQUEST!</a
    >
  </div>
</div>

<div class="">
  <footer class="text-white text-center" style="background-color: #323437">
    <div class="container p-4">
      <div class="col">
        <h5 class="text-uppercase mb-4 p-2">OUR TEAM:</h5>
        <ul class="list">
          <li class="names m-2">Sebastian Reiserer</li>
          <li class="names m-2">David Köberl</li>
          <li class="names m-2">Zelimchan Kagirov</li>
          <li class="names m-2">Can Ay</li>
          <li class="names m-2">Mustafa Erkam Arafat</li>
        </ul>
        <div class=""></div>
      </div>
    </div>
    <div id="Icons">
      <a
        href="https://www.facebook.com/?stype=lo&deoia=1&jlou=AfexQrjSz-hBzLFNKrbDgwO1BfdeRdlpuBe_1QvJBcLgB2MGE251x1uA6WJy0SFvF-63IqOwzBL5cS4eAAFmDjLtZhlm4ajvMhBEkMYtgPROXQ&smuh=33310&lh=Ac_jU0EOcYt5atelNyg"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://x.com/i/flow/login?mx=2"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a
        href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3Dsign_in_no_continue%26pli%3D1&ec=GAlAwAE&hl=de&service=accountsettings&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S1126077481%3A1717760582455439&ddm=0"
        ><i class="fa-brands fa-google"></i
      ></a>
      <a
        href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Faccounts%2Fsuspended%2F%3F__coig_login%3D1"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/login/de?fromSignIn=true&trk=guest_homepage-basic_nav-header-signin"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/login"><i class="fa-brands fa-github"></i></a>
    </div>
    <hr />
    <br />
    <div class="FooterLinks">
      <div class="FooterLinksParts">
        <a routerLink="/home1">Home</a>
      </div>
      <div class="FooterLinks">
        <div class="FooterLinksParts">
          <a routerLink="/alumni">Alumni</a>
        </div>
        <div class="FooterLinks">
          <div class="FooterLinksParts">
            <a routerLink="/stories">Stories</a>
          </div>
          <div class="FooterLinksParts">
            <a routerLink="/career">Careers</a>
          </div>
          <div class="FooterLinksParts">
            <a routerLink="/events">Events</a>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <div id="CopyRight">
        <p class="m-3">
          <a class="" href="https://codefactory.wien/en/contact-en/"
            >&copy; 2024 Copyright Alumni-Group 6</a
          >
        </p>
      </div>
    </div>
  </footer>
</div>
