<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css"
  integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="body">
  <div class="plate">
    <div class="img-container"></div>

    <div class="container">
      <h1 class="mt-5 d-flex justify-content-center team">EVENTS</h1>
      <br />
      <h2 class="mb-3 d-flex justify-content-center title">
        Charting the Path from Entry-Level Intern to Leadership as a Project
        Manager.
      </h2>
      <hr />
      <br />
      <br />
      <h2 class="h2">
        Discover the Roles and Responsibilities that Shape a Successful Tech
        Career
      </h2>

      <br /><br />
    </div>
    <div class="row">
      <div class="col-xl-12">
        <ul class="timeline-list">
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <div class="d-flex row align-items-center justify-content-start">
                <img class="icon" src="/icons8-location-50.png" alt="" />
                <span>Vienna, 2008</span>
                <h4 class="title">Intern Developer span</h4>
              </div>

              <p>
                We gather your business and products information. We then
                determine the direction of the project and understand your goals
                and we combine your ideas with ours for an amazing website.
              </p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <div class="d-flex row align-items-center justify-content-end">
                <img class="icon" src="/icons8-location-50.png" alt="" />
                <span>Vienna, 2007-2012</span>
                <h4 class="title">Junior Developer</h4>
              </div>

              <p>
                We gather your business and products information. We then
                determine the direction of the project and understand your goals
                and we combine your ideas with ours for an amazing website.
              </p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <div class="d-flex row align-items-center justify-content-starts">
                <img class="icon" src="/icons8-location-50.png" alt="" />
                <span>Vienna, 2012-2015</span>
                <h4 class="title">Senior Developer</h4>
              </div>

              <p>
                We gather your business and products information. We then
                determine the direction of the project and understand your goals
                and we combine your ideas with ours for an amazing website.
              </p>
            </div>
          </li>
          <!-- Single Experience -->
          <li>
            <div class="timeline_content">
              <div class="d-flex row align-items-center justify-content-end">
                <img class="icon" src="/icons8-location-50.png" alt="" />
                <span>Vienna, 2015-2018</span>
                <h4 class="title">Project Manager</h4>
              </div>

              <p>
                We gather your business and products information. We then
                determine the direction of the project and understand your goals
                and we combine your ideas with ours for an amazing website.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-5 logo">
    <p class="apostroph2"></p>
    <img src="./images/logo.png" width="250" class="" alt="" />
    <p class="apostroph"></p>
  </div>
</div>
