<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css"
  integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="body">
  <div class="plate">
    <section class="team-section">
      <div class="container">
        <h1 class="mt-5 d-flex justify-content-center team">GRADUATES</h1>
        <h2 class="mb-3 d-flex justify-content-center title">
          Website Contributors
        </h2>
        <hr />
        <br />
        <br />
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    John
                  </h3>
                  <div class="myDIV">INFO</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">Class of 2023</div>
                    <div>
                      John's experience at CodeFactory was marked by growth,
                      both personally and professionally. Coming into the
                      program with a strong technical background but seeking to
                      expand his skill set, John found a supportive community at
                      CodeFactory that encouraged him to push his limits and
                      explore new opportunities. Through collaborative projects
                      and networking events, John developed not only his
                      technical abilities but also his teamwork and
                      communication skills. After graduating, John secured a
                      position at a tech startup where he continues to thrive
                      and contribute to innovative projects. His time at
                      CodeFactory was instrumental in shaping his career
                      trajectory and instilling in him the confidence to tackle
                      any challenge that comes his way.
                    </div>
                    <div class="pt-5 px-5 py-5 quote">
                      <p>
                        "The supportive community at CodeFactory helped me grow
                        both personally and professionally."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->

          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    Michael
                  </h3>
                  <div class="myDIV">INFO</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">Class of 2023</div>
                    <div>
                      Michael's time at CodeFactory was defined by his passion
                      for coding and his willingness to take on new challenges
                      and opportunities. With a natural talent for
                      problem-solving and a collaborative spirit, he thrived in
                      the dynamic and fast-paced environment of the program.
                      Through practical projects and teamwork exercises, Michael
                      honed his technical skills and developed a knack for
                      working effectively in a group setting. His dedication and
                      hard work paid off as he secured a coveted internship at a
                      leading tech company during his final year at CodeFactory.
                      Today, Michael is a rising star in the tech industry,
                      known for his innovative solutions and ability to adapt to
                      new technologies and trends. His story is a testament to
                      the power of hands-on learning and the opportunities that
                      await those who are willing to embrace new challenges and
                      push themselves to new heights.
                    </div>
                    <div class="pt-5 px-5 py-5 quote">
                      <p>
                        "I'll always be grateful for the hands-on experience and
                        industry connections I gained at CodeFactory."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    James
                  </h3>
                  <div class="myDIV">INFO</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">Class of 2022</div>
                    <div>
                      James's journey at CodeFactory was defined by his passion
                      for technology and his drive to succeed in the competitive
                      world of software development. With a natural talent for
                      coding and a strong work ethic, he excelled in both his
                      coursework and extracurricular projects, earning
                      recognition for his innovative solutions and dedication to
                      excellence. Through internships and industry partnerships
                      facilitated by CodeFactory, James gained valuable
                      real-world experience and made connections that would
                      prove invaluable in his career. Today, James is a
                      respected figure in the tech industry, known for his
                      technical expertise, leadership skills, and ability to
                      drive results. His story is a testament to the
                      transformative power of education and the opportunities
                      that await those who are willing to put in the effort and
                      strive for excellence.
                    </div>
                    <div class="pt-5 px-5 py-5 quote">
                      <p>
                        "CodeFactory provided me with the tools to excel in the
                        fast-paced world of software development."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    Laura
                  </h3>
                  <div class="myDIV">INFO</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">Class of 2021</div>
                    <div>
                      Laura's time at CodeFactory was marked by her dedication
                      to mastering the art of coding and her commitment to
                      continuous learning and growth. With a background in
                      computer science and a passion for technology, she
                      embraced every opportunity the program offered to expand
                      her skill set and deepen her understanding of software
                      development. Through challenging projects and real-world
                      applications, Laura honed her coding skills and developed
                      a keen eye for detail and problem-solving. After
                      graduation, she landed a position at a tech company where
                      she continues to thrive and contribute to innovative
                      projects. Laura's success is a reflection of her hard
                      work, perseverance, and willingness to embrace new
                      challenges. Her story serves as an inspiration to current
                      and future students at CodeFactory who are looking to make
                      their mark in the tech industry.
                    </div>
                    <div class="pt-5 px-5 py-5 quote">
                      <p>
                        "CodeFactory gave me the skills and confidence to pursue
                        my dream career in tech."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    Alex
                  </h3>
                  <div class="myDIV">INFO</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">Class of 2020</div>
                    <div>
                      Alex's journey at CodeFactory was a testament to his
                      determination and drive to succeed in the fast-paced world
                      of software development. With a background in computer
                      science and a passion for coding, he thrived in the
                      challenging environment at CodeFactory, where he was
                      pushed to his limits and encouraged to think creatively
                      and analytically. Through practical projects and hands-on
                      experience, Alex honed his technical skills and developed
                      a deep understanding of industry best practices. Upon
                      graduation, he landed a competitive position at a top tech
                      company, where he continues to excel and contribute to
                      cutting-edge projects. Alex's success is a reflection of
                      his hard work, perseverance, and commitment to continuous
                      learning. His story serves as a source of inspiration for
                      aspiring developers who are looking to make their mark in
                      the tech industry.
                    </div>
                    <div class="pt-5 px-5 py-5 quote">
                      <p>
                        "The practical projects and teamwork opportunities at
                        CodeFactory prepared me for real-world challenges in the
                        tech industry."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
              <div class="card-body p-4">
                <div class="member-profile position-absolute w-100 text-center">
                  <img
                    class="rounded-circle mx-auto d-inline-block shadow-sm"
                    src="./images/horse.jpeg"
                    alt=""
                  />
                </div>
                <div class="card-text pt-1">
                  <h3
                    class="member-name mb-0 text-center font-weight-bold header"
                  >
                    CEO
                  </h3>
                  <div class="myDIV">BOW DOWN PEASANTS</div>
                  <div class="hide">
                    <div class="m-4 text-center title h5">CREATIVE GENIUS</div>
                    <div>
                      Some speak of his uncanny ability to unravel complex
                      problems with a single glance, as if he holds the key to a
                      hidden realm of knowledge. Yet, whispers persist that his
                      brilliance may be a facade, a carefully crafted illusion
                      to conceal a darker truth. Could it be that the mysterious
                      CEO of CodeFactory is not what he seems? Is he truly a
                      genius, a visionary ahead of his time, or merely a shadowy
                      figure cloaked in mystery and deception? The answers
                      remain elusive, buried beneath layers of secrecy and
                      speculation. Only time will reveal the true nature of this
                      enigmatic leader, a puzzle waiting to be solved.
                    </div>

                    <div class="pt-5 px-5 py-5 quote">
                      <p>"I am simply magnificent."</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--//card-body-->
              <div class="card-footer theme-bg-primary border-0 text-center">
                <ul class="social-list list-inline mb-0 mx-auto">
                  <li class="list-inline-item"></li>
                </ul>
                <!--//social-list-->
              </div>
              <!--//card-footer-->
            </div>
            <!--//card-->
          </div>
          <!--//col-->
        </div>
        <!--//row-->
      </div>
    </section>
  </div>

  <div class="m-5 logo">
    <p class="apostroph2"></p>
    <img src="./images/logo.png" width="250" class="" alt="" />
    <p class="apostroph"></p>
  </div>
</div>
